/**
 * IFC Styles
 *
 * CSS para os sites do Instituto Federal Catarinense (IFC)
 *
 * @project Site IFC
 * @version 1.0
 Bruno Rampi Marchioro e Wagner Esser
 * @author Yuri, Erick e Jeliel (2018).
 *
 * Cores:
 *   verde claro    : #90c74a;
 *   verde escuro   : #096318;
 *   vermelho       : #ff0000;
 *   vermelho escuro: #b94a48;
 */

/* Estilos base ================================================================================= */
body, div, p, h1, h2, h3, h4, h5, h6, a, address, li, input {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.entry-content * {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #444;
}

body {
  background: #fff;
}

@media (max-width: 992px){
  .white-space{
    margin-bottom: 20px;
  }
  .white-space-2x{
    margin-bottom: 30px;
  }
}

*:focus {
  outline: thin dotted #666;
}

/* Boostrap overrides =========================================================================== */
/**:focus {
  outline: 0 !important;
}*/

a {
	color: #444;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #b94a48;
}

.entry-content a{
  color: blue;
  text-decoration: underline;
}

.entry-content a:hover{
  color: #b94a48;
}

h1 a, h2 a {
	color: #444;
}

h3 a, h4 a, h5 a, h6 a {
  color: #096318;
}

h1 a:hover, h2 a:hover {
  color: #b94a48;
}

hr {
  border-color: #dbdbdb;
}

.label{
  font-weight: normal;
}

.label.label-default {
	background-color: #e4e4e4;
	padding: .1em .5em .2em;
}

.label.label-default a {
	color: #444;
}

.label.label-default a:hover{
  color: #b94a48;
}



@media only screen and (max-width: 992px) {
	.page-header small {
		display: block;
		margin-top: 3px;
	}
	
  .page-header .back-link {
    display: block;
		width: 100%;
		margin: 10px 0 7px 0;
		float: none !important;
  }
}

/* Page subheader */
.page-subheader {
	margin-bottom: 20px;
}

.page-subheader h2 {
  margin-top: 0;
  margin-bottom: 0;
}

/* media */
.media-img {
  width: 120px;
}

@media only screen and (max-width: 992px) {
	.media-left {
		display: block;
	}
	
	.media-img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.media-img img {
		width: 100%;
	}
}

/* Boostrap extensions -------------------------------------------------------------------------- */

/* Botão extra grande */
.btn-xg, .btn-group-xg > .btn {
  border-radius: 6px;
  font-size: 24px;
  line-height: 1.33;
  padding: 10px 16px;
}

.pre-help-block {
  display: block;
  margin-top: -6px;
  margin-bottom: 2px;
  color: #737373;
  font-style: italic;
}


/* Plugin overrides =========================================================================== */

/* Tribes event calendar----------------------------------------------------------------------- */

/* Aumenta contraste do cabeçalho */
.tribe-events-calendar thead th {
  background-color: #4d4d4d !important; /* original: #666 */
  border-left: 1px solid #4d4d4d; /* original: #666 */
  border-right: 1px solid #4d4d4d; /* original: #666 */
  border-top: 1px solid #4d4d4d;
}

/* Aumenta contraste dos dias do mês atual */
.tribe-events-calendar div[id*="tribe-events-daynum-"], .tribe-events-calendar div[id*="tribe-events-daynum-"] a{
  background-color: #5A5A5A !important; /* original: #b2b2b2 */
}

/* Aumenta contraste dos dias passados */
.tribe-events-calendar td.tribe-events-past .tribe-events-month-event-title a, .tribe-events-calendar td.tribe-events-past .tribe-events-viewmore a{
  opacity: 0.85 !important; /* original: 0.5 */
}

/* Aumenta contraste dos dias dos meses adjacentes */
.tribe-events-othermonth .tribe-events-month-event-title, .tribe-events-othermonth div[id*="tribe-events-daynum-"]{
  opacity: 0.85 !important; /* original: 0.4 */
}
.tribe-events-othermonth div[id*="tribe-events-daynum-"], .tribe-events-othermonth div[id*="tribe-events-daynum-"] a{
  background-color: #767676 !important; /* original: #dcdcdc */
}


/* Cabeçalho ==================================================================================== */
header {
  margin-bottom: 12px;
  background: #096318;
	border-bottom: 1px solid #dbdbdb;
}
.sub-banner-exterior{
  background: #124B1A;
}

.sub-banner{
  font-size: 14px;
  float: right;
  margin: 0;
  padding: 0.35em;
}



header a {
  color: white;
}

header .main-wrapper {
  padding: 20px 0 20px 0;
}

/* Logo */
@media only screen and (max-width: 992px) {
  header .main-wrapper .row-single .col-left {
    text-align: center;
  }
}

/* Logo */
/* Esconder logo de alto contraste por padrão */
.logo-alto-contraste {
  display: none;
}



/* Accessibility & Social */
@media only screen and (min-width: 992px) {
  header .main-wrapper .row-single .col-right .accessibility-social {
    float: right;
  }
}

@media only screen and (max-width: 992px) {
  header .main-wrapper .row-single .col-right .accessibility-social {
    width: 168px;
    padding-right: 30px;
    margin: 20px auto 0 auto;
  }
}

header .main-wrapper .row-single .col-right ul {
  display: inline-block;
}

header .main-wrapper .row-single .col-right .accessibility {
  border-right: 2px solid #d4d4d4;
  padding-right: 15px;
  margin-right: 15px;
}

header .main-wrapper .row-single .col-right .accessibility li {
  padding: 2px;
}

header .main-wrapper .row-single .col-right .accessibility a {
  color: gray;
}

header .main-wrapper .row-single .col-right .accessibility a:hover {
  color: #b94a48;
}

header .main-wrapper .row-single .col-right .accessibility .less {
  font-size: 12px;
}

header .main-wrapper .row-single .col-right .accessibility .default {
  font-size: 18px;
}

header .main-wrapper .row-single .col-right .accessibility .more {
  font-size: 22px;
}

header .main-wrapper .row-single .col-right .accessibility .high-contrast {
  font-size: 22px;
}

header .high-contrast {
  border-bottom: 1px dotted white;
}

header .pesquisa {
  margin-bottom: 15px;
}

header .main-wrapper .row-single .col-right .social li a {
  display: block;
  font-size: 22px;
  width: 36px;
  height: 36px;
  background-color: #444;
  text-align: center;
  line-height: 36px;
  white-space: nowrap;
}

header .main-wrapper .row-single .col-right .social li a.facebook {
  color: #fff;
  background-color: gray;
  transition: background-color 0.5s ease;
}

header .main-wrapper .row-single .col-right .social li a.facebook:hover{
  color: #fff;
  background-color: #3b5998;
}

header .main-wrapper .row-single .col-right .social li a.youtube {
  color: #fff;
  background-color: gray;
  transition: background-color 0.5s ease;
}

header .main-wrapper .row-single .col-right .social li a.youtube:hover {
  color: #fff;
  background-color: #b31217;
}

header .main-wrapper .row-single .col-right .restrict {
  border-left: 2px solid #d4d4d4;
  padding-left: 12px;
  margin-left: 12px;
}

header .main-wrapper .row-single .col-right .restrict li {
  padding: 2px;
}

header .main-wrapper .row-single .col-right .restrict a {
  color: gray;
	font-size: 22px;
}

header .main-wrapper .row-single .col-right .restrict a:hover {
  color: #b94a48;
}

header .main-wrapper .row-single .col-right .search-form {
  width: 50%;
}

@media only screen and (max-width: 992px) {
  header .main-wrapper .row-single .col-right .search-form {
    width: 100%;
  }
}

header .lista-links-acessibilidade, header .lista-acoes {
  display: inline-block;
}


@media only screen and (max-width: 992px) {
  header .lista-social{
    width: 170px;
    padding-right: 30px;
    margin: 20px auto 0 auto;
  }
}


header .lista-links-acessibilidade {
  font-size: 11px;
}

header .lista-links-acessibilidade li span {
    background: #0d6b1d;
    color: #eee;
    padding: 0 4px;
}


@media (min-width: 992px) {
    header .lista-social {
      float: right;
    }
    header .lista-acoes{
      float: right;
    }
}

/* Navegação principal ========================================================================== */
.nav-wrapper {
  background-color: #096318;
  box-shadow: 0 0 3px 0 #B6B6B6;
	background-image: linear-gradient(#137623, #096318 60%);
	margin-bottom: 20px;
	border-radius: 3px;
}

.nav-mobile {
	border-radius: 0;
}

.nav-mobile.fix-top {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transition: .3s ease all;
	z-index: 2000;
}

#page-canvas.active .nav-mobile.fix-top {
  left: 70%;
}

/*.main-menu {
  margin: 15px 0 15px 10px;
}

.main-menu li {
  color: #fff;
	margin: 0;
	padding: 0;
}

.main-menu li a {
  font-size: 18px;
  color: #fff;
	border-right: solid 1px #fff;
  padding-right: 15px;
	padding-left: 12px;
	margin: 0;
}
*/
.main-menu {
  margin: 15px 0 15px 10px;
  padding: 0;
}

.main-menu *:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.main-menu > li.has-drop.active > a {
  color: #333;
}

.main-menu .droplet {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 200px;
}

.main-menu .droplet .fill {
  width: 100%;
  margin-top: 20px;
  padding-top: 2px;
  padding-bottom: 10px;
  background-color: #096318;
  box-shadow: 0 0 3px 0 #B6B6B6;
  background-image: linear-gradient(#16912A, #137623 60%);
  border-radius: 3px; 
}

.main-menu .droplet .col {
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  text-align: left;
}

.main-menu li .droplet .col > ul {
  border-left: 1px solid #fff;
  padding: 0;
  margin: 17px 25px 15px 27px;
  list-style-type: none;
}
.main-menu .droplet .col > ul > li {
  padding-left: 10px;
  padding-right: 15px;
}
.main-menu .droplet .col > ul > li.has-drop {
  padding-right: 0;
}
.main-menu .droplet .col > ul > li.has-drop > a {
  pointer-events: none;
}
.main-menu .droplet .col > ul > li.has-drop > a:focus {
  color: #fff;
}

.main-menu .droplet .col a {
  display: block;
  color: #fff;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.main-menu .droplet .col a:focus,
.main-menu .droplet .col a:hover {
  color: #333;
}

.main-menu > li {
  list-style-type: none;
  display: inline-block;
  position: relative;
}

.main-menu > li > a {
  position: relative;
  display: inline-block;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
  color: #fff;
  border-right: solid 1px #fff;
  padding-right: 15px;
  padding-left: 12px;
}

.main-menu > li:last-child > a {
  border-right: 0;
}

.main-menu > li > a:hover {
  color: #444;
}

.main-menu .droplet-list{
  list-style-type: none;
  margin: 0 0 3px 5px;
  padding: 0;
}

.main-menu .droplet-list li{
  padding-left: 10px;
  padding-right: 0;
}


@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-menu > li > a {
    font-size: 16px;
    padding-right: 12px;
    padding-left: 9px;  
  }
}


/* Navegação off-canvas ------------------------------------------------------------------------- */

#page-canvas {
  position: relative;
  overflow: hidden;
  width: 100%;
}

#page-content {
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
	transition: .3s ease all;
}

#page-canvas.active #page-content {
  left: 70%;
}

#page-canvas.active #page-content .overlay {
  position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	transition: opacity 0.5s;
  cursor: pointer;
	z-index: 2000;
	user-select: none;
}

#off-canvas-menu {
  width: 70%;
  left: -70%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #0c8220;
  color: #fff;
	transform: translateX(0);
	transition: .3s ease all;
	overflow: auto;
}

#page-canvas.active #off-canvas-menu {
  left: 0;
}

.toggle-off-canvas {
  width: 100%;
}

.toggle-off-canvas a {
  border-right: 0 !important;
}

#toggle-off-canvas {
  display: block;
}

.off-canvas-menu-title {
  font-size: 24px;
  text-align: center;
  padding: 10px 0 15px 0;
}

.off-canvas-menu > li > a {
  display: block;
  padding: 10px 5px;
  color: #fff;
  border-bottom: 1px solid #000;
}

.off-canvas-menu > li:first-child {
  border-top: 1px solid #000;
}

.off-canvas-menu > li a:hover {
  background-color: #555;
}

.off-canvas-sub-menu {
	background-color: #ddd;
}

.off-canvas-sub-menu li a {
	display: block;
  padding: 10px 15px;
  color: #444;
}

.off-canvas-sub-menu ul:last-child a {
	display: block;
  padding: 10px 15px 10px 30px;
  color: #444;
}

.off-canvas-sub-menu li a:hover {
  color: #fff;
}

/* Navegação secundária ========================================================================= */
#nav-secondary {
	margin-bottom: 20px;
	border-radius: 0;
	border-color: #dbdbdb;
	background: url(/wp-content/themes/ifc-v2/assets/images/bg2.png);
}

#nav-secondary .nav .navbar-nav {
	padding-left: 0;
}

#nav-secondary-collapse {
	padding: 0 10px;
	overflow: hidden;
	border-color: #dbdbdb;
}

#nav-secondary-collapse a:hover {
	background-color: #dfdfdf;
	color: #b94a48;
}

/* Componentes compartilhados =================================================================== */

/* Quadro para datas ---------------------------------------------------------------------------- */
.media .date {
  position: relative;
  width: 67px;
  margin: 8px 43px 0 10px;
  background-color: #096318;
  padding: 5px;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid white;
}

.media .date * {
  display: block;
  color: #fff;
}

.media .date .day {
  font-size: 34px;
  line-height: 100%;
}

.media .date .month {
  letter-spacing: 2.5px;
  margin-left: 2px;
}

.media .date .year {
  position: absolute;
  
  padding-top: 2px;
  border-top: 1px solid #fff;
  
  top: 20px;
  right: -10px;
  
  line-height: 100%;
  
  font-size: 18px;
  letter-spacing: 3px;
  
	transform: rotate(-90deg);
}

/* Content ====================================================================================== */
/*Ingresso*/
.main-grid{
  display: grid;
  grid-template-areas: "menu-ingresso menu-perfil menu-perfil menu-perfil" 
                        "menu conteudo conteudo acesso-rapido" 
                        "menu avisos agenda eventos"
                        "menu setores setores redessociais";
  grid-template-columns: 13em 1fr 1fr 17.5em;
  grid-gap: 3.75em;
  grid-template-rows: 210px;
}
@media screen  and (max-width:  990px){
  .main-grid{
    grid-template-areas: "menu-ingresso" "menu-perfil" "conteudo" "acesso-rapido"  "avisos" "agenda" "eventos" "redessociais" "setores";
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    grid-template-rows: auto;
  }
}

.menu-ingresso{
  display: grid;
  grid-area: menu-ingresso;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: bold;
}

@media screen and (max-width: 990px) {
  .menu-ingresso  {
    grid-template-columns: 1fr 1fr;
  }
}
.menu-ingresso li a {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  background-color: #d3efbd;
  border-top: 0.45em solid #9dbc82;
  color: #00500f;
}
.menu-ingresso li a:hover{
  background-color: #f0f7e8;
  border-top: 0.45em solid #dbebcc;
}
.menu-ingresso li{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}
.ingresso-menu-texto{
  font-size: 20px;
  line-height: 1;
  padding-left: 0.5em;
}
/*.destaque_ingresso{
  display: flex;
  border-top: 0.25em solid #9dbc82;
  background-color: #CCE7BE;
  margin-bottom: 1em;
  text-align: center;
  font-weight: bold;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
}*/
.destaque_ingresso:last-child {
    margin-bottom: 0;
}

.bloco_destaque_ingresso a:hover{
  color: inherit;
}

a:hover .destaque_ingresso{
  opacity: 0.6;
}
/* Fim ingresso */


/* portais de acesso por perfil*/

.menu-acesso-perfil{
  grid-area: menu-perfil;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5%;
  justify-content: space-between;
}
.menu-acesso-perfil a {
  display: grid;
  font-size: 2em;
  line-height: 1.1;
  color: white !important;
  text-align: center;
  justify-content: center;
  align-items: flex-end;
}


@media screen and (max-width: 990px){
  .menu-acesso-perfil{
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-acesso-perfil a{
    background-image: none;
    display: flex;

    justify-content: center;
    align-items: center; 
    height: 100px;

  }
}

.ingressante{
    background-image: url(../images/class-close-up-diary-8769.jpg);
    background-color: rgba(104, 195, 213, 0.4);
    background-blend-mode: color-burn;
}

.ingressante:hover{
  background-image: url(../images/class-close-up-diary-8769.jpg);
  background-color: rgba(104, 195, 213, 0.9);
  transition: background 0.3s;
  background-blend-mode: color-burn;
}

.aluno{
  background-image: url(../images/sou_aluno.jpg);
  background-color: rgba(245, 203, 92, 0.4);
  background-blend-mode: luminosity;
}

.aluno:hover{
  background-image: url(../images/sou_aluno.jpg);
  background-color: rgba(245, 203, 92, 0.7);
  transition: background 0.3s;
}

.servidor{
  background-color: #299b7a;
}
.comunidade{
  background-color: #8b2635;
}


.ingressante, .aluno, .servidor, .comunidade{
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  font-weight: bold;
}
@media screen and (max-width: 990px){
  .ingressante{
    background-color: #68c3d5;
  }
  .aluno{
    background-color: #f5cb5c;
  }
  .servidor{
    background-color: #299b7a;
  }
  .comunidade{
    background-color:  #8b2635;
  }

}
/* fim portal de acesso por perfil*/

/* Notícia Index */
.noticia-index{
  grid-area: conteudo;
  grid-column: span 2;
}
/* Fim Noticia Index */

/* Feed */
.feed h2 {
  display: inline;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}
.feed h1{
  padding: 0.5em 1em;
  font-size: 15px;
  font-weight: bold; 
}
/* Avisos */
.avisos{
  grid-area: avisos;
}

/* Fim avisos */
/* Agenda */
.agenda{
  grid-area: agenda;
}
/* Fim Agenda */
/* Eventos */
.eventos{
  grid-area: eventos;
}
/* Fim eventos */
/* Fim Feed */
/*redes socias*/
.redes-sociais{
  grid-area: redessociais; 
}
.null-instagram-feed img{
  width: 100%;
}
.instagram-pics{
  list-style: none;
  padding: 0;
}

/*fim redes sociais*/

/* setores*/
.setores{
  grid-area: setores;
}
/* Fim setores*/

.entry-content img {
	background-color: #fff;
	border: 1px solid #ddd !important;
	border-radius: 4px;
	display: inline-block;
	height: auto;
	line-height: 1.42857;
	max-width: 100%;
	padding: 4px;
}

.entry-content img.alignright { float: right; margin: 0 0 1em 1em; }
.entry-content img.alignleft { float: left; margin: 0 1em 1em 0; }
.entry-content img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.entry-content .alignright { float: right; }
.entry-content .alignleft { float: left; }
.entry-content .aligncenter { display: block; margin-left: auto; margin-right: auto; }


/* News & Courses & Acesso */
/* News */
.row-news{
  margin-bottom: 20px;
}

.content-container .row-news-courses .col-news .hot-news .media-img {
  width: 240px;
}

.col-news article h2, .row-news article h2, .row-news article h3, .courses-news article h3, .row-category-news article h3 {
  color: #096318;
  font-size: 18px;
}

.col-news article .news:hover h2,
.col-news article .news:focus h2{
  text-decoration: none;
  color: #b94a48;
}


@media  (max-width: 992px) {
	.content-container .row-news-courses .col-news .hot-news .media-left {
		display: block;
	}
}

@media only screen and (max-width: 992px) {
	.content-container .row-news-courses .col-news .hot-news .media-img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.content-container .row-news-courses .col-news .hot-news .media-img img {
		width: 100%;
	}
}

.content-container .col-courses-banner .col-courses li {
	margin-bottom: 7px;
}

.content-container .col-courses-banner .col-courses img {
	display: block !important;
	height: auto !important;
	max-width: 100% !important;
}

/* Banners */
.content-container .col-courses-banner .col-banner {
	margin-top: 20px;
}

.content-container .col-courses-banner .col-banner img {
	display: block !important;
	height: auto !important;
	max-width: 100% !important;
}

/* More news */
.content-container .row-news-courses .more-news {
  margin-top: 20px;
  margin-bottom: 10px;
}

.content-container .row-news-courses .more-news .media {
  margin-bottom: 10px;
}

.content-container .row-news-courses .more-news .media-img {
  width: 120px;
}

.content-container .row-news-courses .row-news-courses .more-news {
  margin-top: 20px;
  margin-bottom: 30px;
}

.content-container .row-news-courses .more-news article h2 {
  margin: 0 0 3px 0;
}

.content-container .row-news-courses .more-news .row-bottom {
  margin-top: 10px;
}

/* Sections */
.content-container .row-sections li {
  margin-bottom: 4px;
}

/* Buttons */


.content-container .row-buttons .btn {
	padding-top: 12px;
	background-color: #f6f6f6;
	color: #444;
  border-top: 4px solid #ddd;
	font-size: 16px;
	margin-bottom: 5px;
}

.content-container .row-buttons .btn i {
	font-size: 22px;
}

.content-container .row-buttons .btn:hover {
	background-color: #666;
	color: #fff;
}

/* Events */
.tribe-events-button {
	color: #fff !important;
}

/* Categoy ====================================================================================== */
.content-container .row-category .media .media-body .media-heading {
  font-size: 20px;
}

.content-container .row-category .media .media-body .categories {
  font-size: 16px;
}

.content-container .row-category .categories-selector {
  margin-bottom: 30px;
}

@media(min-width: 992px){
  .content-container .row-category .categories-selector {
    margin-bottom: 0px;
  }
}

.content-container .row-category .categories-selector .row .col-md-5 .row .col-lg-5 {
  color: gray;
  text-align:center;
}

@media(min-width: 992px){
  .content-container .row-category .categories-selector .row .col-md-5 .row .col-lg-5 {
    text-align: right;
    padding-right: 0;
    padding-top: 7px;
  }
}

.content-container .row-category .categories-selector select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.content-container .row-category .categories-selector li{
  list-style: none;
}

.content-container .row-category.row-category-news .media-img {
  width: 120px;
}

@media only screen and (max-width: 992px) {
	.content-container .row-category.row-category-news .media-left {
		display: block;
	}
	
	.content-container .row-category.row-category-news .media-img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.content-container .row-category.row-category-news .media-img img {
		width: 100%;
	}
}

/* Departamentos ================================================================================ */
.content-container .row-department-menu .media-list {
  margin-top: 10px;
}

.content-container .row-department-menu .col-menu h2 {
  margin-top: 0;
}

.content-container .row-department-menu .col-menu ul {
  margin-top: 10px;
  margin-left: 15px;
}

.content-container .row-department-menu .col-menu ul li a {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
}

.content-container .row-department-menu .col-menu .submenu {
  margin: 0;
  margin-left: 15px;
}

.content-container .image-links {
	text-align: center;
}

.content-container .image-links a {
	margin-right: 20px;
}


/* Cursos ======================================================================================= */
.content-container .row-courses .col-news .media-img {
  width: 120px;
}

.content-container .row-courses h3 {
	margin-top: 0;
}

.content-container .warning-list-courses li {
  margin-bottom: 7px;
}
.content-container .warning-list-courses article h3 {
  display: inline;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

.content-container .warning-list-courses article h3 a{
  color: #444;
}
.content-container .warning-list-courses article h3 a:hover,
.content-container .warning-list-courses article h3 a:focus{
  color: #b94a48;
}

@media only screen and (max-width: 992px) {
	.content-container .row-courses .col-news .media-left {
		display: block;
	}
	
	.content-container .row-courses .col-news .media-img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.content-container .row-courses .col-news .media-img img {
		width: 100%;
	}
}

ul.courses li {
	margin-bottom: 7px;
}

ul.courses li .modal-activate {
  display: block;
  text-align: center;
  color: #444;
  text-decoration: none;
  padding: 7px 17px;
  font-weight: bold;
  border-radius: 6px;
  background-clip: padding-box;
	
  border: 1px solid #dbdbdb;
  width: 100%;

  /* Conflito com o modo de alto contraste */
  /*background-image: linear-gradient(#f8f8f8, #e7e7e7 60%);*/
  font-size: 22px;
}

ul.courses li .modal-activate:hover {
  background-color: #e7e7e7;
  background-image: none;
}

/* Página de listagem de cursos ----------------------------------------------------------------- */
.row-list-courses ul {
	list-style: none;
	padding-left: 20px;
	margin-top: 7px;
	margin-bottom: 14px;
}

.row-list-courses .list-courses {
	margin-bottom: 50px;
}

.row-list-courses .list-courses > li {
	margin-bottom: 25px;
	font-size: 24px;
}

.row-list-courses .list-courses > li > ul > li {
	font-size: 18px;
	margin-bottom: 10px;
}

.row-list-courses .list-courses > li > ul > li a {
	font-size: 18px;
	color: #444;
	text-decoration: none;
}

.row-list-courses .list-courses > li > ul > li a:hover {
	color: #b94a48;
}

/* Agenda do Diretor ============================================================================ */
.content-container .row-agenda dl {
  margin-top: 20px;
  font-size: 16px;
}

.content-container .row-agenda dl dt {
  width: 100px;
}

.content-container .row-agenda dl dd {
  margin-left: 120px;
}

.content-container .row-agenda dl dd.last {
  margin-bottom: 15px;
}

/* Portal de Notícias =========================================================================== */
.content-container .col-hot-news .media-img {
  width: 240px;
}

.content-container .row-news .col-more-news article h2{
  margin-bottom: 20px;
}

.content-container .col-more-news article h2 {
  margin: 0 0 3px 0;
}

.content-container .col-more-news p {
  margin-bottom: 15px;
}

.content-container .courses-news article h2 {
  margin-top: 0;
}

.content-container .courses-news .row-top {
  margin-top: 15px;
  margin-bottom: 20px;
}

.content-container .row-news .col-hot-news .media-img {
  width: 240px;
}

.content-container .courses-news .media-img {
	width: 120px;
}

@media only screen and (max-width: 992px) {
	.content-container .row-news .col-hot-news .media-left {
		display: block;
	}	
	
	.content-container .row-news .col-hot-news .media-img {
		width: 100%;
		margin-bottom: 5px;
	}
	
	.content-container .row-news .col-hot-news .media-img img {
		width: 100%;
	}
}

.content-container .courses-news .row-top article h2 {
  margin: 0 0 3px 0;
}

.content-container .courses-news .row-bottom p {
  margin-bottom: 15px;
}

.content-container .courses-news .row-bottom article h2 {
  margin: 0 0 3px 0;
}

/* Cecom ======================================================================================== */
.buttons {
	text-align: center;
}

.cecom .buttons {
  margin: 40px 0 50px 0;
}

.cecom .buttons li {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 15px;
}

.cecom .buttons a {
	-moz-user-select: none;
	background-image: none;
	
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 0;
	
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	
	padding: 24px 36px 24px 36px;
	
	background-color: #e7e7e7;
	background-image: linear-gradient(#f8f8f8, #e7e7e7 60%);
	color: #444;
	font-size: 16px;
}

.cecom .buttons a i {
	font-size: 32px;
	margin-bottom: 5px;
}

.cecom .buttons a:hover {
	background-image: linear-gradient(#e7e7e7, #f8f8f8 60%);
	color: #444;
}

/* Página de pesquisa =========================================================================== */
.search-results .media .media-body .media-heading {
  font-size: 20px;
}

/* Modal dialog ================================================================================= */
.modal-dialog {
  visibility: hidden;
  position: fixed;
  z-index: 4000;
  width: 400px;
  top: 50%;
  left: 50%;
	color: #444;
	margin-top: -150px;
	margin-left: -175px;
  transform: translateX(-50%) translateY(-50%);
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
	box-shadow: 0 0 6px 0 #444;
	border-radius: 4px;
  background-clip: padding-box;
}

@media only screen and (max-width: 400px) {
	.modal-dialog {
		width: 300px;
		margin-left: -150px;
	}
}

.modal-dialog.active {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

/* Cabeçalho da modal */
.modal-dialog .modal-dialog-header {
	border-radius: 4px 4px 0 0;
	background-color: #096318;
	position: relative;
}

.modal-dialog .modal-dialog-header h2,
.modal-dialog .modal-dialog-header h3 {
	margin: 0;
	border-radius: inherit;
	padding: 20px 30px 17px 30px;
	font-size: 32px;
	color: #e6e6e6;
	font-weight: bold;
}

/* Botão de fechar para a modal */
.modal-dialog .modal-dialog-header .modal-dialog-close {
	position: absolute;
	top: 4px;
	right: 10px;
	display: block;
	font-size: 22px;
	color: #e6e6e6;
}

.modal-dialog .modal-dialog-header .modal-dialog-close:hover {
	color: #b94a48;
}

/* Corpo da modal */
.modal-dialog .modal-dialog-body {
	border: 12px solid #096318;
	border-bottom: 14px solid #096318;
	border-top: 0;
  background-clip: padding-box;
	background-color: #e6e6e6;
	border-radius: 0 0 4px 4px;
	padding: 0;
	font-size: 18px;
}

.modal-dialog .modal-dialog-body ul {
	padding: 25px 20px 20px 20px;
}

.modal-dialog .modal-dialog-body ul li {
	margin-left: 10px;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  transition: all 0.3s;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Página 404 =================================================================================== */
.col-404{
  text-align: center;
  color: #000;
  padding: 50px 0px;
}
.icon-warning{
    font-size: 10em;
}
.content-404-title{
  font-size: 2.5em;
  display: block;
  margin-bottom: 50px;
}

/* Rodapé ======================================================================================= */
footer .links-wrapper {
	background: #124B1A;
  padding: 10px 0 30px 0;
	border-top: 1px solid #dbdbdb;
}

footer .row-links h2 {
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

footer .row.row-links{
  margin-left: 15px;
  margin-top: 10px;
}

footer .row.row-links h2 {
  margin-top: 0;
}

footer .links-wrapper .row-links li a {
  color: #fff;
}

footer .links-wrapper .row-links li a:hover {
  color: #b94a48;
}

footer .links-wrapper .row-links div {
  border-left: 1px dotted white;
}

footer .bottom-wrapper {
  background-color: #0E4516;
  padding: 15px 0 0 0;
}

footer .bottom-wrapper address {
  font-size: 15px;
  color: #fff;
}

footer .imgs-footer {
  height: 50px;
  width: auto;
  margin: 15px 15px;
}

footer .imgs-footer.acesso {
  float: left;
}

footer .imgs-footer.brasil {
  float: right;
}

/* EOF ========================================================================================== */